body{
    background-color: rgb(238, 238, 238);
    margin: 0px;
}
#code_box{
    margin-top:-10px;
    display:flex;
    height:60px;
    text-align: center;
    background-color: rgb(255, 225, 0);
    justify-content: center; 
    align-items: center; 
    padding-top: 15px;
}


#nav{
    display:flex;
    height:auto;
    width: 100%;
    text-align: center;
    background-color: rgb(39, 39, 39);
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}

#logo_box{
    height: 70px;
    width: 10%;
}
#logo_box a >img{
    height:70px;
    width: 200px;
}
#search_box{
    width: 60%;
}
#search_input{
    height: 40px;
    width: 80%;
    border-radius: 4px;
    padding-left: 10px;
}
#search{
    height: 45px;
    padding: 10px;
    width: 50px;
    border-radius: 4px;
    margin-left: 0px;
    cursor: pointer;
}
#user_box{
    height: 40px;
    display: flex;
    color:white;
    width: 35%;
    justify-content: space-between;
    padding-right: 2%;
}
#user_box button{
    width: 100px;
    background-color: rgb(60, 59, 59);
    color: white;
    border: none;
    border-radius: 4px;
}
#user_box button a{
    color: white;
}

#user_box>h4{
    margin-top: 10px;
}
#user_box button a:hover{
    color:yellow;
}

#container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width:50%;
    margin-left: 50px;
    margin-top: 50px;
  }
  #container>div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    padding: 20px;
  }
  #container>div>h1{
    color: red;
  }
  #container>div>button:nth-child(8){
    background-color: rgb(255, 225, 0);
    padding: 10px 35px;
    font-weight: bold;
    border:none;
    border-radius: 10px;
  }
  #container>div>button:nth-child(5),
  #container>div>button:nth-child(7){
    background-color: grey;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
  }
#result_box{
    text-align: center;
    margin:50px 0px;
    margin-right: 100px;
    padding: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    height: 300px;
    border-radius: 10px;
}
#result_box>button{
    padding: 10px 40px;
    background-color: rgb(60, 59, 59);
    color: white;
    border: none;
    border-radius: 4px;
}
#result_box>button:hover{
    color: yellow;
}
#result_box>input{
    height:33px;
    border-radius: 5px;
}

#box{
    display:flex;
    justify-content: space-between;
}

/* 

fotter */

#footer{
    display:flex;
    width:100%;
    justify-content: space-evenly;
    background-color: rgb(60, 59, 59);
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
}
#fotter_part{
    line-height: 35px;
}
#fotter_part>p{
    font-weight: bold;
    margin-left: 40px;
}
#fotter_part > ul >li{
    list-style: none;
}
#fotter_part>hr{
    margin-left: 40px;
    border: 1px solid rgb(255, 225, 0);
}