*{
    font-family: Helvetica,sans-serif;
}
body{
    background-color: rgb(238, 238, 238);
    margin: 0px;
}
#code_box{
    margin-top:-10px;
    display:flex;
    height:60px;
    text-align: center;
    background-color: rgb(255, 225, 0);
    justify-content: center; 
    align-items: center; 
    padding-top: 15px;
}

#nav{
    display:flex;
    height:auto;
    width: 100%;
    text-align: center;
    background-color: rgb(39, 39, 39);
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}

#logo_box{
    height: 70px;
    width: 10%;
}
#logo_box a >img{
    height:70px;
    width: 100%;
}
#search_box{
    width: 60%;
}
#search_input{
    height: 40px;
    width: 80%;
    border-radius: 4px;
    padding-left: 10px;
}
#search{
    height: 45px;
    padding: 10px;
    width: 50px;
    border-radius: 4px;
    margin-left: 0px;
    cursor: pointer;
}
#user_box{
    height: 40px;
    display: flex;
    color:white;
    width: 35%;
    justify-content: space-between;
    padding-right: 2%;
}
#user_box button{
    width: 100px;
    background-color: rgb(60, 59, 59);
    color: white;
    border: none;
    border-radius: 4px;
}
#user_box button a{
    color: white;
}

#user_box>h4{
    margin-top: 10px;
}
#user_box button a:hover{
    color:yellow;
}

/* top banner */
#top_box{
    width:100%;
    height: auto;
    background-color: rgb(39, 39, 39);
    padding-top: 10px;
    padding-bottom: 10px;
}
#top_innerbox{
    display: flex;
    justify-content: space-between;
    width: 85%;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}
#top_box_info {
    display: flex;
    width: 55%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
}
#top_box_info>button{
    background-color: rgb(255, 225, 0);
    padding: 10px 35px;
    font-weight: bold;
    border:none;
    border-radius: 10px;
}
#top_box_info>button:hover{
    background-color: rgb(222, 198, 17);
    border: 1px solid black;
    cursor: pointer;
}
#top_box_banner{
    width: 45%;
}

#top_box_banner>img{
    width: 100%;
    height: 300px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#gift_card{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    margin-top: 10px;
}
#gift_card_scheme{
    background-color: white;
    width: 30%;
    padding: 0px 10px;
    border-radius: 10px;
}

#top_category{
    width: 85%;
    margin: auto;
    margin-top: 50px;
}
#top_category>p{
    font-size: 40px;
}
#bold{
    font-weight:900;
}
#top_category>hr{
    margin-top: -30px;
    border: 2px solid rgb(255, 225, 0);
}
#category_box{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
#category_card{
    background-color: white;
    border-radius: 10px;
    width: 18%;
    text-align: center;
    padding-bottom: 10px;
}
#category_card>p{
    font-size: 20px;
    font-weight: 900;
    margin-top: 0px;
}
#category_img>img{
    width: 70%;
}
#mid_innerbox{
    display: flex;
    justify-content: space-between;
    width: 85%;
    background-color: rgb(255, 225, 0);
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}
#mid_box_info {
    display: flex;
    width: 55%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
}
#mid_box_banner{
    width: 45%;
}

#mid_box_banner>img{
    width: 100%;
    height: 300px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: -5px;
}

/* slider */
.slider-wrap{
    position: relative;
    overflow: hidden;
    height: 200px;
 }
 .slider_box>p{
    font-size:40px ;
 }
 .slider-main{
    position: absolute;
    width: 220%;
 }
 .item{
    width: 400px;
    display: inline-block;
    position: relative;
    height: 150px;
    margin:40px;
    margin-right: 10px;
    
 }
 .text{
    top:50%;
    left: 50%;
    font-size: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 0px 3px;
    transition: 0.5s;
    background-color: white;
    height: 80%;
    display: flex;
 }
 .text:hover{
    transform: scale(1.1);
 }
 .text>img{
    width: 20%;
    height:80%
 }
 .btn-area{
    position: absolute;
    bottom: 0px;
    left: 50%;
 }
 .slider-btn{
    border: none;
    outline: none;
    font-size: 24px;
    border-radius: 10px;
    padding: 2px 15px;
    transition: 0.4s;
    background-color: rgb(255, 225, 0);

 }
 .slider-btn:hover{
    background: red;
    color:rgba(99, 147, 154, 0.957);
 }
 .container{
    width: 80%;
    margin: auto;
 }
 .slider_box{
    text-align: center;
    padding: 50px 0px;
 }
 #description{
    text-align: left;
    line-height: 5px;
    margin-left: 10px;
 }
 #description>p:nth-child(1){
    font-size: 20px;
    color: red;
 }
 #description>p:nth-child(3){
    font-size: 15px;
    color: grey
 }

/* bottom */
#bottom{
    display:flex;
    width:100%;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
}
#bottom_part{
    line-height: 35px;
}
#bottom_part>p{
    font-weight: bold;
    margin-left: 40px;
}
#bottom_part > ul >li{
    list-style: none;
}



/* 

fotter */

#footer{
    display:flex;
    width:100%;
    justify-content: space-evenly;
    background-color: rgb(60, 59, 59);
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
#fotter_part{
    line-height: 35px;
}
#fotter_part>p{
    font-weight: bold;
    margin-left: 40px;
}
#fotter_part > ul >li{
    list-style: none;
}
#fotter_part>hr{
    margin-left: 40px;
    border: 1px solid rgb(255, 225, 0);
}