*{
    margin-top: 0px;
}
#nav{
    height:auto;
    text-align: center;
    background-color: rgba(50, 45, 45, 0.696);
}

#logo_box{
    height: 70px;
    border: 1px solid black;
    width: auto;
}
#logo_box> a img{
    height:70px;
    width: 200px;
}


#container{
    margin-top: 50px;
    display:flex;
    justify-content: space-between;
}
#form_div{
    width: 35%;
    margin-right: 10%;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: medium;
    border-radius: 5px;
    border: none;
    background-color: rgb(248, 248, 248)
}

input:hover {
    border: 1px solid red;
}

label {
    font-size: large;
}

#loginBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    border-radius: 20px;
    background-color: white;
}

#title{
    text-align: center;
}

loginBox>div>h1 {
    font-size: 40px;
    margin-left: 5px;
}

#submit {
    background-color: rgba(50, 45, 45, 0.696);
    color: white;
}

#submit:hover {
    background-color: rgb(3, 3, 3);
    cursor: pointer;
}
