* {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: rgb(238, 238, 238);
    margin: 0px;
}

a {
    text-decoration: none;
}

/* coupon code banner */
#code_box {
    margin-top: -10px;
    display: flex;
    height: 60px;
    text-align: center;
    background-color: rgb(255, 225, 0);
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}


/* navbar */
#nav {
    display: flex;
    height: auto;
    width: 100%;
    text-align: center;
    background-color: rgb(39, 39, 39);
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}

#logo_box {
    height: 70px;
    width: 10%;
}

#logo_box a>img {
    height: 70px;
    width: 100%;
}

#search_box {
    width: 60%;
}

#search_input {
    height: 40px;
    width: 80%;
    border-radius: 4px;
    padding-left: 10px;
}

#search {
    height: 45px;
    padding: 10px;
    width: 50px;
    border-radius: 4px;
    margin-left: 0px;
    cursor: pointer;
}

#user_box {
    height: 40px;
    display: flex;
    color: white;
    width: 35%;
    justify-content: space-between;
    padding-right: 2%;
}

#user_box button {
    width: 100px;
    background-color: rgb(60, 59, 59);
    color: white;
    border: none;
    border-radius: 4px;
}

#user_box button a {
    color: white;
}

#user_box>h4 {
    margin-top: 10px;
}

#user_box button a:hover {
    color: yellow;
}
#username{
    position: relative;
    left:50px
}

#user_icon{
    position :relative;
    top:10px;
    left:120px;
    display:none
}

#logout_placeholder{
    width: 100px;
    color: white;
    border: none;
    border-radius: 4px;
    padding-top: 9px;
}

.background_remove{
    height: 35px;
    margin-top: -6px;
}
.display_none{
    display: none;
}



#products_box {
    display: flex;
    justify-content: space-between;
    
}

#filter_by_category {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-top: 190px;
    width: 300px;
    margin-left: 50px;
    text-align: center;
    height: 10%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

#filter_by_category>p {
    font-weight: bolder;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    background-color: white;
}

#filter_by_category>button {
    border: none;
    border-bottom: 1px dotted black;
    height: 30px;
    background-color: white;
    cursor: pointer;
}

#filter_by_category>button:nth-child(8) {
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#filter_by_category>button:hover {
    color: red;
}
#Info_box{
    width: 90%;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 90%;
    margin: auto;
}

#container>div {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;

    flex-direction: column;
    background-color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    padding: 20px;
    max-height: 400px;

}

#container>div>h1 {
    color: red;
}

#container>div>img {
    height: 8rem;
    width: 50%;
    margin: auto;
}

#container>div>button {
    background-color: rgb(255, 225, 0);
    padding: 10px 35px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: auto;
}

#container>div>button:hover {
    color: red;
    transform: scale(1.1);
    transition: 0.8s;
}

#result_box {
    text-align: center;
    margin: 50px 0px;
}
#loading{
    text-align: center;
    display: none;
}

#sort {
    height: 40px;
    width: 150px;
    margin-left: 5%;
    border: 1px black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Pagination */
.pagination-section {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(60, 59, 59);
    text-align: center;
    padding: 10px;
    margin-top: 100px;
}

.pagination-button {
    margin-right: 10px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #fff;
    height: 40px;
}

.active {
    color: red;
}

.pagination-button:hover {
    color: rgb(247, 164, 164);
    cursor: pointer;
}


/* 

fotter */

#footer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: rgb(60, 59, 59);
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
}

#fotter_part {
    line-height: 35px;
}

#fotter_part>p {
    font-weight: bold;
    margin-left: 40px;
}

#fotter_part>ul>li {
    list-style: none;
}

#fotter_part>hr {
    margin-left: 40px;
    border: 1px solid rgb(255, 225, 0);
}